<%= content_for :title do %>
	Welcome Friend!
<% end %>
<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About</h2>
			<hr>
			<p>
				Howdy! I'm Yongle Lyu. Here, I will share something I find interesting and valuable with you guys, like the great book I have read, habits that boost my efficiency, new skills I have recently got.
			</p>
			<p>
				Hope you find this site interesting and be helpful! You can also find me through <a href="https://github.com/lyltj2010" target="_blank">Github</a> or <a href="https://www.linkedin.com/in/yongle-lyu-913961106" target="_blank">LinkedIn.</a>
			</p>
		</div>

		<div class="col-2 homepage_content">
			<h2><%= link_to "Stuff I'v Written", posts_path %></h2>
			<hr>
			<% @posts.each do |post| %>
				<h3><a href="#"><%= link_to post.title, post %></a></h3>
				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>

		<div class="col-3 homepage_content">
			<h2><%= link_to "Recent Tech Posts", teches_path %></h2>
			<hr>
			<% @teches.each do |tech| %>
				<h3><a href="#"><%= link_to tech.title, tech %></a></h3>
				<p class="date"><%= tech.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>
	</div>